<h1>Choosing the most suitable candidate with decision tree classification<h1>

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree

In [4]:
#Load data frame
df = pd.read_csv('Candidates_data.csv')
#Check data
df.head()

,Experience year,Currently work?,Number of company worked,Education level,Top 10 University?,Internship here?,Hired
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

Corrections: Each data must be numerical according to scikit-learn library thus:
<br>
Y , N -> 1 , 0
<br>
BS , MS , PhD -> 0 , 1 , 2

In [5]:
correction_map1 = {'Y': 1, 'N': 0}
correction_map2 = {'BS': 0, 'MS': 1, 'PhD': 2}

df['Hired'] = df['Hired'].map(correction_map1)
df['Internship here?'] = df['Internship here?'].map(correction_map1)
df['Top 10 University?'] = df['Top 10 University?'].map(correction_map1)
df['Currently work?'] = df['Currently work?'].map(correction_map1)

df['Education level'] = df['Education level'].map(correction_map2)
df.head()

,Experience year,Currently work?,Number of company worked,Education level,Top 10 University?,Internship here?,Hired
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [8]:
#Seprate the Hired (y) and the other values
y = df['Hired']
x = df.drop('Hired', axis=1)

In [9]:
#Create the decision tree
clf = tree.DecisionTreeClassifier()
#Train the model
clf = clf.fit(x, y)

In [19]:
#Test the model with a input
#Exp.year:2, Currently work:0, #ofComp:5, Education:2, Top10Uni:0, Intern:0
input_data = [[2, 0, 5, 2, 0, 0]]
prediction = clf.predict(input_data)
print(prediction)
if 0 in prediction:
    print('The selected candidate might not be suitable for the job.')
else:
    print('The selected candidate is suitable for the job.')

[0]
The selected candidate might not be suitable for the job.

/Users/halil/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [20]:
#Test the model with a input
#Exp.year:2, Currently work:0, #ofComp:5, Education:2, Top10Uni:1, Intern:1
input_data = [[2, 0, 5, 2, 1, 1]]
prediction = clf.predict(input_data)
print(prediction)
if 0 in prediction:
    print('The selected candidate might not be suitable for the job.')
else:
    print('The selected candidate is suitable for the job.')

[1]
The selected candidate is suitable for the job.

/Users/halil/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(